<!-- Modal -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="account_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title display">アカウント追加</h4>
			</div>
			<div class="modal-body">
				<div class="errors"></div>
				<form>
					<!--企業ID-->
					<div class="form-group corporate_id">
					</div>
					<!--アカウントID-->
					<div class="form-group accnt_no_group">
						<label for="accnt_no">アカウントNo.</label>
						<input type='text' class="form-control" id='accnt_no' value={{accnt_no}}>
					</div>
					<div class="form-group">
						<label for="user_id">ログインID（半角英数字混合、8文字以上で入力してください。）</label>
						<input autocomplete="off" type='text' class="form-control" id='user_id' value={{user_id}}>
					</div>
					<div class="form-group">
						<label for="user_name">ユーザー名称</label>
						<input type='text' class="form-control" id='user_name' value={{user_name}}>
					</div>
					<div class="form-group">
						<label for="login_disp_name">ログイン表示名</label>
						<input type='text' class="form-control" id='login_disp_name' value={{login_disp_name}}>
					</div>
					<div class="form-group">
						<label for="position_name">所属</label>
						<input type='text' class="form-control" id='position_name' value={{position_name}}>
					</div>
					<div class="form-group">
						<label for="user_type">管理権限</label>
						<select id="user_type" name="user_type" class="form-control input-sm" value={{user_type}}>
							<option value="1">一般</option>
							<option value="2">管理者</option>
							<option value="3">システム管理者</option>
						</select>
					</div>
					<div class="form-group">
						<label for="mail_address">メールアドレス</label>
						<input type='text' class="form-control" id='mail_address' value={{mail_address}}>
					</div>
					<div class="form-group" id="password-group">
						<label for="password">パスワード<br>（半角英数字、半角記号(!#$%&*+@?)混合、8文字以上で入力してください。）</label>
						<input autocomplete="off" type='text' class="form-control" id='password' value={{password}}>
						<label for="password" class='pass'></label>
						<label for="password_confirm">パスワード確認</label>
						<input autocomplete="off" type='text' class="form-control" id='password_confirm' value={{password_confirm}}>
						<label for="password_confirm" class='password_confirm'></label>
					</div>
				</form>
			</div>
			<input type='hidden' id='display_type'>
			<div class="modal-footer">
				<button type="button" class="btn btn-default cancel" data-dismiss="modal">キャンセル</button>
				<button type="button" class="btn btn-success update">追加</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
