<td>{{accnt_no}}</td>
<td>{{corporate_id}}</td>
<td>{{agreement_no}}</td>
<td>{{user_id}}</td>
<td>{{user_name}}</td>
<td>{{login_disp_name}}</td>
<td>{{position_name}}</td>
<td>{{userType}}</td>
<td>{{#if lock}}
	<a href="" class="btn btn-primary btn-large lock"><span class="glyphicon glyphicon-lock"></span></a>
	{{/if}}</td><!-- lockの値によって鍵マークか空白かの表示分け <span class="glyphicon glyphicon-lock"> -->
<td>{{mail_address}}</td>
<td>{{last_pass_word_upd_date}}</td>
<td>{{#if editDel}}
	<a href="" class="btn btn-primary btn-large edit"><span class="glyphicon glyphicon-pencil"></span></a>
	{{/if}}</td>
<td>1</td>
<!-- <td class='td_edit'><button type="submit" class="btn btn-primary btn-large edit" data-toggle="modal" data-target="#account_modal" value={{user_id}}><span class="glyphicon glyphicon-pencil"></span></td> -->

<td>{{#if editDel}}<a href="" class="btn btn-primary btn-large delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
	{{/if}}</td>
