<label class="col-md-2 control-label" for="agreement_no">契約No</label>
<div class="col-md-5">
	<select class="form-control input-sm" id="agreement_no" name="agreement_no" {{agreement_no_disabled}}>
		{{#each agreement_no_list}}<option value="{{rntl_cont_no}}" {{selected}}>{{rntl_cont_no}} {{rntl_cont_name}}</option>{{/each}}
	</select>
</div>