<!--tr class="blue"-->
  <td class="{{color}}">{{order_req_no}}<br>
  {{order_req_ymd}}</td>
  <td class="{{color}}">{{order_sts_name}}<br>
  ( {{order_reason_name}} )</td>
  <td class="{{color}}">{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
  <td class="{{color}}">{{cster_emply_cd}}<br>
    {{werer_name}}</td>
  <td class="{{color}}">{{shin_item_code}}<br>
   {{input_item_name}}</td>
  <td class="{{color}}">{{order_qty}}</td>
  <td class="{{color}}">{{rec_order_no}}<br>
  {{send_shd_ymd}}</td>
  <td class="{{color}}">{{order_qty}}</td>
  <td class="{{color}}">{{order_status_name}}</td>
  <td class="{{color}}">{{ship_no}}<br>
  {{ship_ymd}}</td>
  <td class="{{color}}">{{ship_qty}}</td>
  <td class="tb_individual_num {{color}}" style="display:none;">{{{individual_num}}}</td>
  <td class="{{color}}">{{{order_res_ymd}}}</td>
  <td class="{{color}}">{{rntl_cont_no}}<br>
    {{rntl_cont_name}}</td>
<!--/tr-->