<!--tr class="blue"-->
  <td>{{interrogator_date}}</td>
  <td>{{interrogator_answer_date}}</td>
  <td>{{corporate_id}} {{corporate_name}}</td>
  <td>{{rntl_sect_name}}</td>
  <td>{{interrogator_name}}</td>
  <td>{{genre_name}}</td>
  <td>{{interrogator_info}}</td>
  <td>{{rntl_cont_no}}</td>
  <td><a type="button" id="{{index}}" class="btn btn-primary btn-sm inquiry_detail_btn" title="詳細">詳細</a></td>
