<td>{{#if member_no}}{{member_no}}{{else}}-{{/if}}</td>
<td>{{#if rntl_sect_name}}{{rntl_sect_name}}{{else}}-{{/if}}</td>
<td>{{#if job_type_name}}{{job_type_name}}{{else}}-{{/if}}</td>
<td>{{#if item_name}}{{item_name}}{{else}}-{{/if}}</td>
<td>{{#if item_cd}}{{item_cd}}{{else}}-{{/if}}</td>
<td>{{#if color_cd}}{{color_cd}}{{else}}-{{/if}}</td>
<td>{{#if size}}{{size}}{{else}}-{{/if}}</td>
<td>{{#if send_num}}{{send_num}}{{else}}0{{/if}}</td>
<td>{{#if rec_order_no}}{{rec_order_no}}{{else}}-{{/if}}</td>
<td>{{#if ship_no}}{{ship_no}}{{else}}-{{/if}}</td>
<td>{{#if send_day}}{{send_day}}{{else}}-{{/if}}</td>
<td>{{#if order_req_no}}<a href="#" class="detail">{{order_req_no}}</a>{{else}}-{{/if}}</td>