<!--tr class="blue"-->
  <td>{{cster_emply_cd}}<br>
  {{werer_name}}</td>
  <td>{{now_rntl_sect_name}}<br>
  {{now_job_type_name}}</td>
  <td>{{old_rntl_sect_name}}<br>
    {{old_job_type_name}}</td>
  <td>{{shin_item_code}}<br>
    {{input_item_name}}</td>
  <td class="tb_individual_num" style="display:none;">{{{individual_num}}}</td>
  <td>{{ship_qty}}</td>
  <td>{{ship_ymd}}</td>
  <td>{{re_order_date}}</td>
  <td>{{order_req_no}}</td>
  <td>{{rec_order_no}}<br>
  {{ship_no}}</td>
<!--/tr-->