<!--tr class="blue"-->
  <td>{{list_no}}</td>
  <td>{{rntl_sect_name}}<tb>
  <td>{{manpower_num}}</td>
  <td><a type="button" id="{{agreement_no}}:{{werer_cd}}:{{cster_emply_cd}}" class="btn btn-primary btn-sm wearer_detail_btn" title="詳細">詳細</a></td>
  <td><a type="button" id="{{agreement_no}}:{{werer_cd}}:{{cster_emply_cd}}" class="btn btn-primary btn-sm wearer_detail_btn" title="ダウンロード">ダウンロード</a></td>
<!--/tr-->
