<td>
  {{#if send_choice_chk}}
  <input type="checkbox" name="order_check" class="order_check snd_kbn{{order_snd_kbn}}" value="{{param}}">
  {{/if}}
</td>
<td>
  {{cster_emply_cd}}<br>
  {{werer_name}}
</td>
<td>{{sex_kbn_name}}</td>
<td>
  {{disp_order_req_no}}<br>
  {{order_req_ymd}}
</td>
<td>
  {{rntl_sect_name}}<br>
  {{job_type_name}}
</td>
<td>
  <span class="order_sts_kbn_name">{{order_sts_kbn_name}}</span>{{{br}}}
  <span class="order_reason_kbn_name{{order_sts_kbn}}">{{order_reason_kbn_name}}</span>
</td>
<td>{{snd_kbn}}</td>
<td>
  {{#if send_cancel_bottom}}
  <button type="button" class="btn btn-primary orderSend_cancel snd_kbn{{order_snd_kbn}}" title="発注送信キャンセル" value="{{param}}">発注送信キャンセル</button>
  {{/if}}
</td>
<td>
  {{#if order_delete_bottom}}
  <button type="button" class="btn btn-primary order_cancel snd_kbn{{order_snd_kbn}}" title="発注取消" value="{{param}}">発注取消</button>
  {{/if}}
</td>
