<!--div class="text-center"-->
	<nav>
		<ul class="pagination grad">
			{{#if first}}
				<li>
					<a href="#"  data-page="1" aria-label="Previous">
						<span aria-hidden="true">≪</span>
					</a>
				</li>
			{{/if}}
			{{#if prev}}
				<li><a href="#" data-page="{{prev_page}}">&lt;</a></li>
			{{/if}}
			{{#each pages}}
				<li{{#equals this ../page_number}} class="active"{{/equals}}><a href="#" data-page="{{this}}">{{this}}</a></li>
			{{/each}}
			{{#if next}}
				<li><a href="#" data-page="{{next_page}}">&gt;</a></li>
			{{/if}}
			{{#if last}}
				<li>
					<a href="#" data-page="{{total_page}}" aria-label="Next">
						<span aria-hidden="true">≫</span>
					</a>
				</li>
			{{/if}}
			{{#if total_records}}
				<!-- <li class="pager_count">&nbsp;&nbsp;{{start_num}}-{{end_num}}件(全{{total_records}}件) -->
				<!--li class="pager_count">&nbsp;&nbsp;全{{total_records}}件
				</li-->
			{{/if}}
		</ul>
	</nav>
<!--/div-->
