<!--div class="text-center"-->
	<nav>
		<ul class="pagination grad">
			{{#if first}}
				<li>
					<a href="#"  data-page="1" aria-label="Previous">
						<span aria-hidden="true">≪</span>
					</a>
				</li>
			{{/if}}
			{{#if prev}}
				<li><a href="#" data-page="{{prev_page}}">&lt;</a></li>
			{{/if}}
			{{#each pages}}
				<li{{#if act}} class="active"{{/if}}><a href="#" data-page="{{num}}">{{num}}</a></li>
			{{/each}}
			{{#if next}}
				<li><a href="#" data-page="{{next_page}}">&gt;</a></li>
			{{/if}}
			{{#if last}}
				<li>
					<a href="#" data-page="{{total_page}}" aria-label="Next">
						<span aria-hidden="true">≫</span>
					</a>
				</li>
			{{/if}}
		</ul>
		{{#if total_records}}
		<!--<span class="pager_count pull-right">&nbsp;&nbsp;<b>{{start_num}}-{{end_num}}件(全{{total_records}}件)</b>-->
			<span class="pager_count pull-right">&nbsp;&nbsp;<b>全{{total_records}}件</b></span>
		{{/if}}
	</nav>
<!--/div-->
