<!--tr class="blue"-->
    <td>{{line_no}}</td>
    <td>{{sale_order_date}}</td>
    <td>{{rntl_sect_cd}}</td>
    <td>{{item_name}}</td>
    <td>{{color_cd}}</td>
    <td>{{size_cd}}</td>
    <td>{{quantity}}</td>
    <td>キャンセル</td>
<!--/tr-->