<td class="item_name">{{item_name}}<br><img src="./images/{{image_file_name}}"></td>
<td>{{color_cd}}</td>
<!--<td>{{agreement_no}}</td>-->
<td>{{size_cd}}</td>
<td>{{piece_rate}}</td>
<td>
<select id="quantity" name="quantity" class="form-control input-sm quantity" value={{quantity}}>
</select>
</td>
