<!--tr class="blue"-->
  <td><input type="checkbox" id="receive_check" name="receive_check[]" class="checkbox-inline update_check" {{disabled}}</td>
  <td>{{receipt_date}}</td>
  <td>{{ship_no}}</td>
  <td>{{shin_item_code}}<br>
  {{input_item_name}}</td>
  <td>{{ship_qty}}</td>
  <td class="tb_individual_num" style="display:none;">{{individual_ctrl_no}}</td>
  <td>{{order_req_no}}<br>
  {{order_req_line_no}}</td>
  <td>{{cster_emply_cd}}<br>
  {{werer_name}}</td>
  <td>{{rntl_sect_name}}<br>
  {{job_type_name}}</td>
  <td>{{receipt_status_name}}<br>
  {{order_sts_name}}</td>
  <td>{{order_req_ymd}}</td>
  <td>{{ship_ymd}}</td>
  <td>{{rec_order_no}}</td>
<!--/tr-->
