<!--tr class="blue"-->
  <td>
    {{#if chk_disp}}
        {{#if update_ok_flg}}
    <input type="checkbox" id="receive_check{{arr_num}}" name="receive_check[]" class="checkbox-inline update_check" value="{{ship_no}}:{{ship_line_no}}:{{rntl_sect_cd}}" {{disabled}}>
    <input type="hidden" id="rntl_cont_no{{arr_num}}" value="{{rntl_cont_no}}">
    <input type="hidden" id="werer_cd{{arr_num}}" value="{{werer_cd}}">
    <input type="hidden" id="size_cd{{arr_num}}" value="{{size_cd}}">
    <input type="hidden" id="item_cd{{arr_num}}" value="{{item_cd}}">
    <input type="hidden" id="color_cd{{arr_num}}" value="{{color_cd}}">
        {{/if}}
    {{/if}}
  </td>
  <td>{{receipt_date}}</td>
  <td>{{ship_no}}</td>
  <td>{{shin_item_code}}<br>
  {{input_item_name}}</td>
  <td>{{ship_qty}}</td>
  <td class="tb_individual_num" style="display:none;">{{{individual_ctrl_no}}}</td>
  <td>{{order_req_no}}<br>
  {{order_req_line_no}}</td>
  <td>{{cster_emply_cd}}<br>
  {{werer_name}}</td>
  <td>{{rntl_sect_name}}<br>
  {{job_type_name}}</td>
  <td>{{receipt_status_name}}<br>
  {{order_sts_name}}</td>
  <td>{{order_req_ymd}}</td>
  <td>{{ship_ymd}}</td>
  <td>{{rec_order_no}}</td>
<!--/tr-->