<td><input type="checkbox" id="receive_check" name="receive_check[]" class="checkbox-inline update_check" {{disabled}}/></td>
<td>{{#if receipt_date}}{{receipt_date}}{{else}}-{{/if}}</td>
<td>{{#if ship_no}}{{ship_no}}{{else}}-{{/if}}</td>
<td><a href="" class="detail">{{order_req_no}}</a></td>
<td>{{#if cster_emply_cd}}{{cster_emply_cd}}{{else}}-{{/if}}</td>
<td>{{#if rntl_sect_name}}{{rntl_sect_name}}{{else}}-{{/if}}</td>
<td>{{#if job_type_name}}{{job_type_name}}{{else}}-{{/if}}</td>
<td>{{#if order_req_ymd}}{{order_req_ymd}}{{else}}-{{/if}}</td>
<td>{{#if ship_ymd}}{{ship_ymd}}{{else}}-{{/if}}</td>
<td>{{#if statusText}}{{statusText}}{{else}}-{{/if}}</td>
<td>{{#if kubunText}}{{kubunText}}{{else}}-{{/if}}</td>
<td>{{#if rec_order_no}}{{rec_order_no}}{{else}}-{{/if}}</td>
<td>{{#if item_name}}{{item_name}}{{else}}-{{/if}}</td>
<td>{{#if item_cd}}{{item_cd}}{{else}}-{{/if}}</td>
<td>{{#if color_cd}}{{color_cd}}{{else}}-{{/if}}</td>
<td>{{#if size_cd}}{{size_cd}}{{else}}-{{/if}}</td>
<td>{{#if ship_qty}}{{ship_qty}}{{else}}0{{/if}}</td>
<td>{{#if receipt_num}}{{receipt_num}}{{else}}0{{/if}}</td>
