<td>{{#if item_name}}{{item_name}}{{else}}-{{/if}}</td>
<td>{{#if item_cd}}{{item_cd}}{{else}}-{{/if}}</td>
<td>{{#if color_cd}}{{color_cd}}{{else}}-{{/if}}</td>
<td>{{#if size}}{{size}}{{else}}-{{/if}}</td>
<td>{{#if zaikoText}}{{zaikoText}}{{else}}-{{/if}}</td>
<td>{{#if zkwhcd}}{{zkwhcd}}{{else}}-{{/if}}</td>
<td>{{#if zkrc2}}{{zkrc2}}{{else}}0{{/if}}</td>