<td>{{shin_item_code}}</td>
<td>{{item_name}}</td>
<td>{{zk_status_name}}</td>
<td>{{zkwhcd}}</td>
<td>{{label}}</td>
<td>{{total_qty}}</td>
<td>{{new_qty}}</td>
<td>{{used_qty}}</td>
<td>{{rtn_proc_qty}}</td>
<td>{{rtn_plan_qty}}</td>
<td>{{in_use_qty}}</td>
<td>{{other_ship_qty}}</td>
<td>{{discarded_qty}}</td>
