<td>{{item_name}}</td>
<td>{{item_cd}}</td>
<td>{{color_cd}}</td>
<td>{{size}}</td>
<td>{{zaikoText}}</td>
<td>{{zkwhcd}}</td>
<td>{{zkrc2}}</td>
<td>{{item_name}}</td>
<td>{{item_name}}</td>
<td>{{item_name}}</td>
<td>{{item_name}}</td>
<td>{{item_name}}</td>
<td>{{item_name}}</td>
