<td><a href="#" class="detail">{{order_req_no}}</a></td>
<td>{{#if cster_emply_cd}}{{cster_emply_cd}}{{else}}-{{/if}}</td>
<td>{{#if rntl_sect_name}}{{rntl_sect_name}}{{else}}-{{/if}}</td>
<td>{{#if job_type_name}}{{job_type_name}}{{else}}-{{/if}}</td>
<td>{{#if order_date}}{{order_date}}{{else}}-{{/if}}</td>
<td>{{#if return_date}}{{return_date}}{{else}}-{{/if}}</td>
<td>{{#if kubunText}}{{kubunText}}{{else}}-{{/if}}</td>
<td>{{#if item_name}}{{item_name}}{{else}}-{{/if}}</td>
<td>{{#if item_cd}}{{item_cd}}{{else}}-{{/if}}</td>
<td>{{#if color_cd}}{{color_cd}}{{else}}-{{/if}}</td>
<td>{{#if size_cd}}{{size_cd}}{{else}}-{{/if}}</td>
<td>{{#if return_qty}}{{return_qty}}{{else}}0{{/if}}</td>