<!--tr class="blue"-->
  <td>{{order_req_no}}<br>
  {{order_req_ymd}}</td>
  <td>{{order_sts_name}}<br>
  ( {{order_reason_name}} )</td>
  <td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
  <td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
  <td>{{shin_item_code}}<br>
   {{input_item_name}}</td>
  <td>{{order_qty}}</td>
  <td>{{rec_order_no}}<br>
  {{re_order_date}}</td>
  <td>{{return_qty}}</td>
  <td>{{return_status_name}}</td>
  <td>{{ship_no}}<br>
  {{ship_ymd}}</td>
  <td>{{ship_qty}}</td>
  <td class="tb_individual_num" style="display:none;">{{{individual_num}}}</td>
  <td>{{{order_res_ymd}}}</td>
  <td>{{rntl_cont_no}}<br>
    {{rntl_cont_name}}</td>
<!--/tr-->
