<div class="row">
  <p class="col-md-7"></p>
</div>
<div class="text-center tablewidth divcentering" >
  <!-- start scrollTable -->
  <div id="scrollTable">
    <div style="padding-bottom:10px;">
      <table>
        <th>発注商品一覧</th>
        <th style="text-align:center;">
          発注枚数 <input type="text" class="input-sm" id="order_count" name="order_count" disabled="disabled" value="{{#each sum_num}}{{sum_order_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚　　　
          返却枚数 <input type="text" class="input-sm" id="return_count" name="return_count" disabled="disabled" value="{{#each sum_num}}{{sum_return_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚
        </th>
        <input type="hidden" id="list_cnt" name="list_cnt" value="{{list_cnt}}">
      </table>
    </div>
    <table class="table table-bordered order_table">
      <thead class="grad_head">
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">アイテム</th>
          <th rowspan="2">標準枚数</th>
          <th>商品-色</th>
          <th rowspan="2">サイズ</th>
          <th rowspan="2" class="no_individual_flg" style="display:none;">交換可能枚数</th>
          <th rowspan="2" class="individual_flg" style="display:none;">対象</th>
          <th rowspan="2" class="individual_flg" style="display:none;">個体管理番号</th>
          <th rowspan="2">発注枚数</th>
          <th rowspan="2">返却枚数</th>
        </tr>
        <tr>
          <th>商品名</th>
        </tr>
      </thead>
      {{#if list_disp_flg}}
        {{#each item_list}}
        <tr>
          <td>
            {{list_no}}
            <input type="hidden" name="rntl_sect_cd{{arr_num}}" value="{{rntl_sect_cd}}">
            <input type="hidden" name="job_type_cd{{arr_num}}" value="{{job_type_cd}}">
            <input type="hidden" name="job_type_item_cd{{arr_num}}" value="{{job_type_item_cd}}">
            <input type="hidden" name="item_cd{{arr_num}}" value="{{item_cd}}">
            <input type="hidden" name="color_cd{{arr_num}}" value="{{color_cd}}">
            <input type="hidden" name="individual_flg{{arr_num}}" value="{{individual_flg}}">
          </td>
          <td>{{item_name}}</td>
          <td>
            {{possible_num}}
            <input type="hidden" name="possible_num{{arr_num}}" value="{{possible_num}}">
          </td>
          <td>
            {{item_and_color}}<br>{{input_item_name}}
          </td>
          <td class="input">
            {{size_cd}}
            <input type="hidden" name="size_cd{{arr_num}}" value="{{size_cd}}">
          </td>
          <td class="no_individual_flg" style="display:none;">
            {{{rtn_ok_cnt}}}
            <input type="hidden" name="rtn_ok_cnt{{arr_num}}" value="{{rtn_ok_cnt}}">
          </td>
          <td class="individual_flg" style="display:none;">
            {{#each individual_chk}}
              <label>
                <input type="checkbox" id="target_flg" name="target_flg{{name_no}}" value="{{name_no}}" {{checked}}>
              </label>
              {{{br}}}
            {{/each}}
          </td>
          <td class="individual_flg" style="display:none;">
            {{{individual_ctrl_no}}}
            <input type="hidden" name="individual_cnt{{arr_num}}" value="{{individual_cnt}}">
          </td>
          <td>
              <!--<input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm" id="add_order_num{{arr_num}}" name="add_order_num{{arr_num}}" value="{{order_num}}" {{order_num_disable}}>-->
              <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm order_num" id="order_num{{arr_num}}" name="order_num{{arr_num}}" value="{{order_num}}" {{order_num_disable}}>
              <input type="hidden" id="order_num_val{{arr_num}}" name="order_num_val{{arr_num}}" value="{{quantity}}" {{order_num_disable}}>
            </td>
          <td>
              <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm return_num" id="return_num{{arr_num}}" name="return_num{{arr_num}}" value="{{return_num}}" disabled>
              <input type="hidden" id="return_num_val{{arr_num}}" name="return_num_val{{arr_num}}" value="{{return_num}}" {{return_num_disable}}>
          </td>
        </tr>
        {{/each}}
      {{else}}
      <tr class="edit">
        <td colspan="10"><b>対象商品なし</b></td>
      </tr>
      {{/if}}
    </table>
  </div>
  <!-- end scrollTable -->
</div>
