<td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
<td>{{sex_kbn}}</td>
<td>{{order_kbn}}</td>
<td>{{snd_kbn}}</td>
<td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
<td>{{#if end_button}}<a href="#" class="btn btn-primary" title="貸与終了" id="wearer_end">{{end_button}}</a><br>{{/if}}
    {{#if return_reciept_button}}<a href="#" class="btn btn-primary" title="返却伝票ダウンロード" id="download">返却伝票ダウンロード</a>{{/if}}</td>
