<div class="row">
  <p class="col-md-7"></p>
</div>
<div class="text-center tablewidth divcentering" >
  <div id="scrollTable">
    <div style="padding-bottom:10px;">
      <table>
        <th>発注商品一覧</th>
        <th style="text-align:center;">
          発注枚数 <input type="text" class="input-sm" id="order_count" name="order_count" disabled="disabled" value="{{#each sum_num}}{{sum_order_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚　　　
          返却枚数 <input type="text" class="input-sm" id="order_count" name="return_count" disabled="disabled" value="{{#each sum_num}}{{sum_return_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚
        </th>
        <input type="hidden" name="list_cnt" value="{{list_cnt}}">
      </table>
    </div>
    <table class="table table-bordered order_table" id="order_table">
      <thead class="grad_head">
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">アイテム</th>
          <th rowspan="2">標準枚数</th>
          <th>商品-色</th>
          <th rowspan="2">現在のサイズ</th>
          <th rowspan="2">サイズ</th>
          <th rowspan="2" class="exchange_possible_num" style="display:none;">交換可能枚数</th>
          <th rowspan="2" class="individual_flg" style="display:none;">対象</th>
          <th rowspan="2" class="individual_flg" style="display:none;">個体管理番号</th>
          <th rowspan="2">発注枚数</th>
          <th rowspan="2">返却枚数</th>
          <th rowspan="2">サイズ追加 </th>
        </tr>
        <tr>
          <th>商品名</th>
        </tr>
      </thead>
      {{#if list_disp_flg}}
        {{#each item_list}}
        <tr>
          <td>
            {{list_no}}
            <input type="hidden" name="rntl_sect_cd{{arr_num}}" value="{{rntl_sect_cd}}">
            <input type="hidden" name="job_type_cd{{arr_num}}" value="{{job_type_cd}}">
            <input type="hidden" name="job_type_item_cd{{arr_num}}" value="{{job_type_item_cd}}">
            <input type="hidden" name="item_cd{{arr_num}}" value="{{item_cd}}">
            <input type="hidden" name="color_cd{{arr_num}}" value="{{color_cd}}">
            <input type="hidden" name="individual_flg{{arr_num}}" value="{{individual_flg}}">
            <input type="hidden" name="add_flg{{arr_num}}" value="{{add_flg}}">
          </td>
          <td>{{item_name}}</td>
          <td>
            {{possible_num}}
            <input type="hidden" name="possible_num{{arr_num}}" value="{{possible_num}}">
          </td>
          <td>
            {{item_and_color}}<br>{{input_item_name}}
          </td>
          <td class="input">
            {{now_size_cd}}
            <input type="hidden" name="now_size_cd{{arr_num}}" value="{{now_size_cd}}">
          </td>
          <td>
            {{#if size_add_flg}}
            {{else}}
            <select class="form-control input-sm size_cd" id="size_cd{{arr_num}}" name="size_cd{{arr_num}}">
              {{#each size_cd}}
              <option value="{{size}}" {{selected}}>{{size}}</option>
              {{/each}}
            </select>
            {{/if}}
          </td>
          <td class="exchange_possible_num" style="display:none;">
            {{exchange_possible_num}}
            <input type="hidden" name="exchange_possible_num{{arr_num}}" value="{{exchange_possible_num}}">
          </td>
          <td class="individual_flg" style="display:none;">
            {{#each individual_chk}}
              <label>
                <input type="checkbox" id="target_flg{{name_no}}" name="target_flg{{name_no}}" value="{{individual_ctrl_no}}" {{checked}}>
              </label>
              {{{br}}}
            {{/each}}
          </td>
          <td class="individual_flg" style="display:none;">
            {{{individual_ctrl_no}}}
            <input type="hidden" name="individual_cnt{{arr_num}}" value="{{individual_cnt}}">
          </td>
          <td>
            {{order_num}}
            <input type="hidden" class="order_num" id="order_num{{arr_num}}" name="order_num{{arr_num}}" value="{{order_num}}">
          </td>
          <td>
            {{#if return_num_text_disp}}
              <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm return_num" id="return_num{{arr_num}}" name="return_num{{arr_num}}" value="{{return_num}}">
            {{else}}
              {{return_num}}
              <input type="hidden" class="return_num" id="return_num{{arr_num}}" name="return_num{{arr_num}}" value="{{return_num}}">
            {{/if}}
          </td>
          <td>
            {{#if size_add_flg}}
            <button type="button" class="btn btn-primary size_add" title="サイズ追加" id="size_add{{arr_num}}" value="{{add_param}}">サイズ追加</button>
            <input type="hidden" name="add_cnt{{arr_num}}" value="0">
            {{/if}}
          </td>
        </tr>
          {{#each size_add_item}}
          <tr>
            <td style="background-color:{{background_color}};">
              <input type="hidden" name="rntl_sect_cd{{arr_num}}-{{add_no}}" value="{{rntl_sect_cd}}">
              <input type="hidden" name="job_type_cd{{arr_num}}-{{add_no}}" value="{{job_type_cd}}">
              <input type="hidden" name="job_type_item_cd{{arr_num}}-{{add_no}}" value="{{job_type_item_cd}}">
              <input type="hidden" name="item_cd{{arr_num}}-{{add_no}}" value="{{item_cd}}">
              <input type="hidden" name="color_cd{{arr_num}}-{{add_no}}" value="{{color_cd}}">
              <input type="hidden" name="add_no{{arr_num}}-{{add_no}}" value="{{add_no}}">
              <input type="hidden" name="add_flg{{arr_num}}" value="{{add_flg}}">
            </td>
            <td style="background-color:{{background_color}};">{{item_name}}</td>
            <td style="background-color:{{background_color}};">
              {{possible_num}}
              <input type="hidden" name="possible_num{{arr_num}}-{{add_no}}" value="{{possible_num}}">
            </td>
            <td style="background-color:{{background_color}};">
              {{item_and_color}}<br>{{input_item_name}}
            </td>
            <td class="input" style="background-color:{{background_color}};">
              <input type="hidden" name="now_size_cd{{arr_num}}-{{add_no}}" value="{{now_size_cd}}">
            </td>
            <td style="background-color:{{background_color}};">
              <select class="form-control input-sm size_cd" id="size_cd" name="size_cd{{arr_num}}-{{add_no}}">
                {{#each size_cd}}
                <option value="{{size}}" {{selected}}>{{size}}</option>
                {{/each}}
              </select>
            </td>
            <td class="exchange_possible_num" style="display:none; background-color:{{background_color}};">
              {{exchange_possible_num}}
              <input type="hidden" name="exchange_possible_num{{arr_num}}-{{add_no}}" value="{{exchange_possible_num}}">
            </td>
            <td class="individual_flg" style="display:none; background-color:{{background_color}};">
              {{#each individual_chk}}
                <label>
                  <input type="checkbox" id="target_flg{{name_no}}" name="target_flg{{name_no}}" value="{{individual_ctrl_no}}" {{checked}}>
                </label>
                {{{br}}}
              {{/each}}
            </td>
            <td class="individual_flg" style="display:none; background-color:{{background_color}};">
              {{{individual_ctrl_no}}}
              <input type="hidden" name="individual_cnt{{arr_num}}" value="{{individual_cnt}}">
            </td>
            <td style="background-color:{{background_color}};">
              <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm order_num" id="order_num{{arr_num}}-{{add_no}}" name="order_num{{arr_num}}-{{add_no}}" value="{{order_num}}">
            </td>
            <td style="background-color:{{background_color}};"></td>
            <td style="background-color:{{background_color}};">
              <button type="button" class="btn btn-primary size_del" title="削除" id="size_del{{arr_num}}" value="{{arr_num}}">削除</button>
            </td>
          </tr>
          {{/each}}
        {{/each}}
      {{else}}
      <tr class="edit">
        <td colspan="11"><b>対象商品なし</b></td>
      </tr>
      {{/if}}
    </table>
  </div>
</div>
