<td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
<td>{{sex_kbn_name}}</td>
<td>{{{order_kbn}}}</td>
<td>{{snd_kbn}}</td>
<td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
<td>
  {{#if wearer_change_button}}
    <button type="button" class="btn btn-primary" title="職種変更または異動" id="wearer_change" value="{{param}}" {{disabled}}>
      {{wearer_change_button}}
      {{#if wearer_change_red}}
      <span style='color:red'>
        {{wearer_change_red}}
      </span>
      {{/if}}
    </button>
  {{/if}}
  {{#if return_reciept_button}}
      {{#if return_req_no}}
  <button type="button" class="btn btn-primary" title="返却伝票ダウンロード" id="download" value="{{return_reciept_param}}">返却伝票ダウンロード</button>
      {{/if}}
  {{/if}}
</td>