<div class="row">
  <p class="col-md-7"></p>
</div>
<div class="text-center tablewidth divcentering" >
  <!-- start scrollTable -->
  <div id="scrollTable">
    <div style="padding-bottom:10px;">
      <table>
        <th>現在貸与中のアイテム</th>
        <th style="text-align:center;">
          発注枚数 <input type="text" class="input-sm" id="order_count" name="now_order_count" disabled="disabled" value="{{#each sum_num}}{{sum_order_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚　　　
          返却枚数 <input type="text" class="input-sm" id="return_count" name="now_return_count" disabled="disabled" value="{{#each sum_num}}{{sum_return_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚
        <input type="hidden" name="now_list_cnt" value="{{now_list_cnt}}">
        <input type="hidden" name="individual_flg" value="{{individual_flg}}">
      </table>
    </div>
    <form name="individual">
      <table class="table table-bordered order_table">
        <thead class="grad_head">
          <tr>
            <th rowspan="2">No.</th>
            <th rowspan="2">アイテム</th>
            <th rowspan="2">選択方法</th>
            <th rowspan="2">標準枚数</th>
            <th>商品-色</th>
            <th rowspan="2">サイズ</th>
            <th rowspan="2" class="individual_flg" style="display:none;">対象</th>
            <th rowspan="2" class="individual_flg" style="display:none;">個体管理番号</th>
            <th rowspan="2">発注枚数</th>
            <th rowspan="2">返却枚数</th>
          </tr>
          <tr>
            <th>商品名</th>
          </tr>
        </thead>
        {{#if now_list_disp_flg}}
          {{#each now_list}}
          <tr>
            <td>
              {{list_no}}
              <input type="hidden" name="now_rntl_sect_cd{{arr_num}}" value="{{rntl_sect_cd}}">
              <input type="hidden" name="now_job_type_cd{{arr_num}}" value="{{job_type_cd}}">
              <input type="hidden" name="now_job_type_item_cd{{arr_num}}" value="{{job_type_item_cd}}">
              <input type="hidden" name="now_item_cd{{arr_num}}" value="{{item_cd}}">
              <input type="hidden" name="now_color_cd{{arr_num}}" value="{{color_cd}}">
              <input type="hidden" name="individual_flg{{arr_num}}" value="{{individual_flg}}">
            </td>
            <td>{{item_name}}</td>
            <td>
              {{choice}}
              <input type="hidden" name="now_choice_type{{arr_num}}" value="{{choice_type}}">
            </td>
            <td>
              {{std_input_qty}}
              <input type="hidden" name="now_std_input_qty{{arr_num}}" value="{{std_input_qty}}">
            </td>
            <td>
              {{item_and_color}}<br>{{input_item_name}}
            </td>
            <td>
              {{size_cd}}
              <input type="hidden" name="now_size_cd{{arr_num}}" value="{{size_cd}}">
            </td>
            <input type="hidden" name="individual_cnt{{arr_num}}" value="{{individual_cnt}}">
            <td class="individual_flg" style="display:none;">
              {{#each individual_chk}}
                <label>
                  <input type="checkbox" id="now_target_flg{{name_no}}" name="now_target_flg{{name_no}}" value="{{individual_ctrl_no}}" {{checked}} {{disabled}}>
                </label>
                {{{br}}}
              {{/each}}
            </td>
            <td class="individual_flg" style="display:none;">
              {{{individual_ctrl_no}}}
            </td>
            <td>
              <!--input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm" id="now_order_num{{arr_num}}" name="now_order_num{{arr_num}}" value="{{order_num}}" {{order_num_disable}}>
              <input type="hidden" name="now_order_num_disable{{arr_num}}" value="{{order_num_disable}}"-->
            </td>
            <td>
              <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm" id="now_return_num{{arr_num}}" name="now_return_num{{arr_num}}" value="{{return_num}}" {{return_num_disable}}>
              <input type="hidden" name="now_return_num_disable{{arr_num}}" value="{{return_num_disable}}">
              <input type="hidden" name="possible_num{{arr_num}}" value="{{possible_num}}">
            </td>
          </tr>
          {{/each}}
        {{else}}
            <tr class="edit">
              <td colspan="10"><b>対象商品なし</b></td>
            </tr>
        {{/if}}
      </table>
    </form>

    <div style="padding-bottom:10px;">
      <table>
        <th>新たに追加されるアイテム</th>
        <input type="hidden" name="add_list_cnt" value="{{add_list_cnt}}">
      </table>
    </div>
    <table class="table table-bordered order_table">
      <thead class="grad_head">
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">アイテム</th>
          <th rowspan="2">選択方法</th>
          <th rowspan="2">標準枚数</th>
          <th>商品-色</th>
          <th rowspan="2">サイズ</th>
          <th rowspan="2">発注枚数</th>
        </tr>
        <tr>
          <th>商品名</th>
        </tr>
      </thead>
      <tbody>
      {{#if add_list_disp_flg}}
        {{#each add_list}}
        <tr class="edit">
          <td>
            {{list_no}}
            <input type="hidden" name="add_rntl_sect_cd{{arr_num}}" value="{{rntl_sect_cd}}">
            <input type="hidden" name="add_job_type_cd{{arr_num}}" value="{{job_type_cd}}">
            <input type="hidden" name="add_job_type_item_cd{{arr_num}}" value="{{job_type_item_cd}}">
            <input type="hidden" name="add_item_cd{{arr_num}}" value="{{item_cd}}">
            <input type="hidden" name="add_color_cd{{arr_num}}" value="{{color_cd}}">
          </td>
          <td>{{item_name}}</td>
          <td>
            {{choice}}
            <input type="hidden" name="add_choice_type{{arr_num}}" value="{{choice_type}}">
          </td>
          <td>
            {{std_input_qty}}
            <input type="hidden" name="add_std_input_qty{{arr_num}}" value="{{std_input_qty}}">
          </td>
          <td>
            {{item_and_color}}<br>{{input_item_name}}
            <input type="hidden" name="add_item_cd{{arr_num}}" value="{{item_cd}}">
            <input type="hidden" name="add_color_cd{{arr_num}}" value="{{color_cd}}">
          </td>
          <td class="input">
            <select class="form-control input-sm" id="add_size_cd{{arr_num}}" name="add_size_cd{{arr_num}}">
              {{#each size_cd}}
              <option value="{{size}}" {{selected}}>{{size}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm" id="add_order_num{{arr_num}}" name="add_order_num{{arr_num}}" value="{{order_num}}" {{order_num_disable}}>
            <input type="hidden" name="add_order_num_disable{{arr_num}}" value="{{order_num_disable}}">
          </td>
        </tr>
        {{/each}}
      {{else}}
        <tr class="edit">
          <td colspan="7"><b>対象商品なし</b></td>
        </tr>
      {{/if}}
      </tbody>
    </table>
  </div>
  <!-- end scrollTable -->
</div>
