<div class="row">
  <p class="col-md-7"></p>
</div>
<div class="text-center tablewidth divcentering" >
  <!-- start scrollTable -->
  <div id="scrollTable">
    <div style="padding-bottom:10px;">
      <table>
        <th>発注商品一覧</th>
        <th style="text-align:center;">
          返却枚数 <input type="text" class="input-sm" id="order_count" name="order_count" disabled="disabled" value="{{#each sum_num}}{{sum_order_num}}{{/each}}" style="width:4em; font-weight:normal; text-align:center;"> 枚
        </th>
        <input type="hidden" name="list_cnt" value="{{list_cnt}}">
      </table>
    </div>
    <table class="table table-bordered order_table">
      <thead class="grad_head">
        <tr>
          <th rowspan="2">No.</th>
          <th rowspan="2">アイテム</th>
          <th rowspan="2">選択方法</th>
          <th rowspan="2">標準枚数</th>
          <th>商品-色</th>
          <th rowspan="2">サイズ</th>
          <th rowspan="2">発注枚数</th>
          <th rowspan="2">返却枚数</th>
        </tr>
        <tr>
          <th>商品名</th>
        </tr>
      </thead>
      {{#if list_disp_flg}}
        {{#each item_list}}
        <tr>
          <td>
            {{list_no}}
            <input type="hidden" name="rntl_sect_cd{{arr_num}}" value="{{rntl_sect_cd}}">
            <input type="hidden" name="job_type_cd{{arr_num}}" value="{{job_type_cd}}">
            <input type="hidden" name="job_type_item_cd{{arr_num}}" value="{{job_type_item_cd}}">
            <input type="hidden" name="item_cd{{arr_num}}" value="{{item_cd}}">
            <input type="hidden" name="color_cd{{arr_num}}" value="{{color_cd}}">
          </td>
          <td>{{item_name}}</td>
          <td>
            {{choice}}
            <input type="hidden" name="choice_type{{arr_num}}" value="{{choice_type}}">
          </td>
          <td>
            {{std_input_qty}}
            <input type="hidden" name="std_input_qty{{arr_num}}" value="{{std_input_qty}}">
          </td>
          <td>
            {{item_and_color}}<br>{{input_item_name}}
          </td>
          <td class="input">
            <select class="form-control input-sm" id="size_cd{{arr_num}}" name="size_cd{{arr_num}}">
              {{#each size_cd}}
              <option value="{{size}}" {{selected}}>{{size}}</option>
              {{/each}}
            </select>
          </td>
          <td>
            <input type="text" style="width:4em; font-weight:normal; text-align:center;" class="input-sm" id="order_num{{arr_num}}" name="order_num{{arr_num}}" value="{{order_num}}" {{order_num_disable}}>
            <input type="hidden" name="order_num_disable{{arr_num}}" value="{{order_num_disable}}">
          </td>
          <td>
          </td>
        </tr>
        {{/each}}
      {{else}}
      <tr class="edit">
        <td colspan="10"><b>対象商品なし</b></td>
      </tr>
      {{/if}}
    </table>
  </div>
  <!-- end scrollTable -->
</div>
