<td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
<td>{{sex_kbn}}</td>
<td>{{order_kbn}}</td>
<td>{{snd_kbn}}</td>
<td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
<td>
  {{#if wearer_change_button}}
  <button type="button" class="btn btn-primary" title="職種変更または異動" id="wearer_change" value="{{rntl_cont_no}}:{{rntl_sect_cd}}:{{werer_cd}}" {{disabled}}>
    {{wearer_change_button}}
    {{#if wearer_change_red}}
    <span style='color:red'>
      {{wearer_change_red}}
    </span>
    {{/if}}
  </button>
  {{/if}}
  {{#if return_reciept_button}}
  <button type="button" class="btn btn-primary" title="返却伝票ダウンロード" id="download">
    {{return_reciept_button}}
  </button>
  {{/if}}
</td>
