<!--tr class="blue"-->
  <td>{{cster_emply_cd}}</td>
  <td>{{werer_name}}</td>
  <td>{{rntl_sect_name}}<tb>
  <td>{{job_type_name}}</td>
  <td><a type="button" id="{{agreement_no}}:{{werer_cd}}:{{cster_emply_cd}}" class="btn btn-primary btn-sm wearer_detail_btn" title="詳細">詳細</a></td>
<!--/tr-->