<td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
<td>{{sex_kbn_name}}</td>
<td>{{{order_kbn}}}</td>
<td>{{snd_kbn}}</td>
<td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
<td>{{#if wearer_input_button}}<button type="button"  class="btn btn-primary" title="貸与開始" id="wearer_order" value="{{param}}" {{disabled}}>{{wearer_input_button}}{{#if wearer_input_red}}<span style='color:red'>{{wearer_input_red}}</span>{{/if}}</button>{{/if}}
  {{#if return_reciept_button}}<button type="button" class="btn btn-primary" title="返却伝票ダウンロード" id="download">{{return_reciept_button}}</button>{{/if}}</td>