<td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
<td>{{sex_kbn_name}}</td>
<td>{{{order_kbn}}}</td>
<td>{{snd_kbn}}</td>
<td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
<td>
  {{#if wearer_add_button}}
    <button type="button" class="btn btn-primary" title="サイズ交換" id="wearer_size_change" value="{{param}}" {{add_disabled}}>
      {{wearer_add_button}}
      {{#if wearer_add_red}}
      <span style='color:red'>
        {{wearer_add_red}}
      </span>
      {{/if}}
    </button>
  {{/if}}
  {{#if exchange_reciept_button}}
  <button type="button" class="btn btn-primary" title="返却伝票ダウンロード" id="download" value="{{exchange_reciept_param}}">返却伝票ダウンロード</button>
  {{/if}}
</td>
<td>
  {{#if wearer_return_button}}
    <button type="button" class="btn btn-primary" title="その他交換" id="wearer_other_change" value="{{param2}}" {{return_disabled}}>
      {{wearer_return_button}}
      {{#if wearer_return_red}}
      <span style='color:red'>
        {{wearer_return_red}}
      </span>
      {{/if}}
    </button>
  {{/if}}
  {{#if other_change_reciept_button2}}
  <button type="button" class="btn btn-primary" title="返却伝票ダウンロード" id="download2" value="{{other_change_reciept_param2}}">返却伝票ダウンロード</button>
  {{/if}}
</td>
