<td>{{cster_emply_cd}}<br>
    {{werer_name}}</td>
<td>{{sex_kbn_name}}</td>
<td>{{{order_kbn}}}</td>
<td>{{snd_kbn}}</td>
<td>{{rntl_sect_name}}<br>
    {{job_type_name}}</td>
<td>
  {{#if wearer_edit_button}}
  <button type="button" class="btn btn-primary" title="着用者編集" id="wearer_edit" value="{{param}}" {{disabled}}>
    {{wearer_edit_button}}
    {{#if wearer_edit_red}}
    <span style='color:red'>
    {{wearer_edit_red}}
    </span>
    {{/if}}
  </button>
  {{/if}}
</td>
